{% extends "layouts/home.twig" %}
{% set title = "Homepage" %}
{% set pageTitle = "Welcome" %}
{% set showTitle = FALSE %}

{% block masthead %}

<div class="relative bg-ubc-blue">
    <div class="container relative z-40 flex flex-col justify-end px-5 py-24 mx-auto text-white md--px-4">
        <h2 class="mt-0 text-white text-7xl">UBC Web Services</h2>
        <p class="text-hug">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
		<p><a href="https://ubc.ca" class="unit-button unit-button--transparent">A call to action</a></p>
	</div>
</div>

{% endblock %}

{% block content %}
    {{ pageIntro }}
    {{ loremIpsum }}
{% endblock %}

{% block prefooter %}
<div class="bg-grey-100">
    <div class="{{ containerClasses }}">
        <div class="grid grid-cols-2 gap-8">
            <div class="col-span-2 p-0 bg-transparent md--col-span-1 first-child--mt-0 drop-shadow-none">
                <h2 class="mt-0 font-normal">
                    Our subsection
                </h2>
                {{ loremIpsum }}
            </div>
            <div class="col-span-2 p-8 bg-white md--col-span-1 first-child--mt-0 drop-shadow">
                <h3 class="mt-0 font-normal">
                    Take action
                </h3>
                <p>Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</p>
                <p>
                    <a href="https://ubc.ca" class="text-sm unit-button">Another call to action</a>
                </p>
            </div>
        </div>
    </div>
</div>
<div class="">
    <div class="{{ containerClasses }}">
        <h2 class="mt-0 font-normal">Latest News</h2>
        <div class="grid grid-cols-1 gap-8 md--grid-cols-3">
            {% include "components/component--card--vertical--2.twig" %}
            {% include "components/component--card--vertical--2.twig" %}
            {% include "components/component--card--vertical--2.twig" %}
        </div>
        <p class="text-right">
            <a href="#" class="text-xs unit-button">See all news</a>
        </p>
    </div>
</div>
{% endblock %}

{% block custom_css %}
{% endblock %}

{% block custom_javascript %}
{% endblock %}
