!= partial("_components/featured/unit-featured-image--workshops")
main.non-clf.unit-logo-texture--right.bg--light.vert-padding-0-2
  div.container
    div.row
      div.col-md-8.vert-padding-2-2.bg--unit-theme-none
        p.text--lead Some inspirational messaging about workshops that will compel people to click on the workshop links.
        hr
        p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.

section.non-clf.vert-padding-3-3
  div.container
    != partial("_components/forms/unit-form-workshops")     
    div.row.equalize
      for profile in public.profiles._data
        div.col-sm-4.col-xs-6
          a.teaser.teaser__w-image(href="profile.html")
            article.teaser-profile
              figure.teaser--image
                img(src="img/prototype/demo-normal#{profile.image}" alt="#{profile.title}" title="")
              div.teaser--content
                h3.h4 #{profile.prefix} #{profile.firstname} #{profile.lastname} #{profile.suffix}
                p= profile.role
                p= profile.department
                p= profile.teaser
                h4.h5 Contact
                p= profile.email
                p 
                  button.unit-btn--plain Full Bio 
