{% set contentContent = '<p>The curriculum for the UBC Certificate in Project Management online program follows the standards and principle set by the Project Management Institute (PMI® in their Project Management Body of Knowledge (PMBOK®) Guide. It is comprised of six courses including a capstone course involving a team project. Together they provide students with both the technical and soft skills required of an effective project manager.</p>
<p>Through instruction, collaboration, discussions and team assignments, you will develop your understanding of key project management concepts and acquire tools and techniques that will serve to enhance your performance as project manager or leader.</p>
<p>The online program is offered in two formats; a regular program format and a fast-track program format, designed for completion in nine and a half months and eight months, respectively. There is a small price advantage to pursuing the Fast-Track program.   Students who have enrolled in the regular program are not permitted to transfer to the Fast-Track Program.</p>' %}
{% set secondaryTitle ='Regular Program Required Courses' %}
{% set tertiaryTitle ='Fast Track Program Required Courses' %}
{% set listTrigger ='<svg role="presentation" class="inline-block h-4 w-4 text-white"><use xlink:href="#icon-arrow"/></svg>' %}
{% set listDetails ='<p class="info-grid__details">Gain an understanding of the anatomy of a project, the role of a project manager, and the factors which lead to success.</p>' %}
{% set listCost ='<p class="text-ubc-blue text-hug font-semibold"><span class="piped piped--grey">36 PDUs/36 CDUs</span> $1250</p>' %}
{% set season1Title ='Fall<span class="block">2018</span>' %}
{% set season2Title ='Winter<span class="block">2018</span>' %}
{% set season3Title ='Spring / Summer<span class="block">2019</span>' %}
{% set buttonText ='<a href="#" class="unit-button unit-button--blue text-xs unit-button--two-line">Sep 18<span>Online</a>' %}
{% set emptyText ='' %}

<div class="pt-4 md--pt-0">
  <p>{{ contentContent }}</p>
  <h4 class="heading-block heading-block--white-on-grey mt-8">{{ secondaryTitle }}</h4>
  <ul><li>The following sequence is recommended</li></ul>
</div>

<div class="info-grid info-grid--list">
  <div class="info-grid__titles">
    <div class="info-grid__content uppercase text-sm">Title</div>
    <div class="info-grid__season">{{ season1Title }}</div>
    <div class="info-grid__season">{{ season2Title }}</div>
    <div class="info-grid__season">{{ season3Title }}</div>
  </div>
  <ul class="list-reset my-0 w-full">
    <li class="info-grid__item">
      <button class="info-grid__trigger">{{ listTrigger }}</button>
      <div class="info-grid__content">
        <span class="info-grid__number">1</span>
        <div class="info-grid__title">
          <a href="#" class="text-ubc-blue hover--text-unit-green underline block"> <h3 class="heading-five text-hug"> Project Initiation and Planning</h3></a>
          {{ listDetails }}
          {{ listCost }}
        </div>
        <div class="info-grid__season lg--hidden font-semibold pt-4 pb-2">{{ season1Title }}</div>
        <div class="info-grid__season lg--hidden font-semibold pt-4 pb-2">{{ season2Title }}</div>
        <div class="info-grid__season lg--hidden font-semibold pt-4 pb-2">{{ season3Title }}</div>
        <div class="info-grid__season">{{ emptyText }}</div>
        <div class="info-grid__season">{{ buttonText }}</div>
        <div class="info-grid__season">{{ emptyText }}</div>
      </div>
    </li>
    <li class="info-grid__item">
      <button class="info-grid__trigger">{{ listTrigger }}</button>
      <div class="info-grid__content">
        <span class="info-grid__number">1</span>
        <div class="info-grid__title">
          <a href="#" class="text-ubc-blue hover--text-unit-green underline block"> <h3 class="heading-five text-hug"> Project Initiation and Planning</h3></a>
          {{ listDetails }}
          {{ listCost }}
        </div>
        <div class="info-grid__season lg--hidden font-semibold pt-4 pb-2">{{ season1Title }}</div>
        <div class="info-grid__season lg--hidden font-semibold pt-4 pb-2">{{ season2Title }}</div>
        <div class="info-grid__season lg--hidden font-semibold pt-4 pb-2">{{ season3Title }}</div>
        <div class="info-grid__season">{{ emptyText }}</div>
        <div class="info-grid__season">{{ buttonText }}</div>
        <div class="info-grid__season">{{ emptyText }}</div>
      </div>
    </li>
    <li class="info-grid__item">
      <button class="info-grid__trigger">{{ listTrigger }}</button>
      <div class="info-grid__content">
        <span class="info-grid__number">1</span>
        <div class="info-grid__title">
          <a href="#" class="text-ubc-blue hover--text-unit-green underline block"> <h3 class="heading-five text-hug"> Project Initiation and Planning</h3></a>
          {{ listDetails }}
          {{ listCost }}
        </div>
        <div class="info-grid__season lg--hidden font-semibold pt-4 pb-2">{{ season1Title }}</div>
        <div class="info-grid__season lg--hidden font-semibold pt-4 pb-2">{{ season2Title }}</div>
        <div class="info-grid__season lg--hidden font-semibold pt-4 pb-2">{{ season3Title }}</div>
        <div class="info-grid__season">{{ buttonText }}</div>
        <div class="info-grid__season">{{ buttonText }}</div>
        <div class="info-grid__season">{{ emptyText }}</div>
      </div>
    </li>
    <li class="info-grid__item">
      <button class="info-grid__trigger">{{ listTrigger }}</button>
      <div class="info-grid__content">
        <span class="info-grid__number">1</span>
        <div class="info-grid__title">
          <a href="#" class="text-ubc-blue hover--text-unit-green underline block"> <h3 class="heading-five text-hug"> Project Initiation and Planning</h3></a>
          {{ listDetails }}
          {{ listCost }}
        </div>
        <div class="info-grid__season lg--hidden font-semibold pt-4 pb-2">{{ season1Title }}</div>
        <div class="info-grid__season lg--hidden font-semibold pt-4 pb-2">{{ season2Title }}</div>
        <div class="info-grid__season lg--hidden font-semibold pt-4 pb-2">{{ season3Title }}</div>
        <div class="info-grid__season">{{ emptyText }}</div>
        <div class="info-grid__season">{{ buttonText }}</div>
        <div class="info-grid__season">{{ emptyText }}</div>
      </div>
    </li>
    <li class="info-grid__item">
      <button class="info-grid__trigger">{{ listTrigger }}</button>
      <div class="info-grid__content">
        <span class="info-grid__number">1</span>
        <div class="info-grid__title">
          <a href="#" class="text-ubc-blue hover--text-unit-green underline block"> <h3 class="heading-five text-hug"> Project Initiation and Planning</h3></a>
          {{ listDetails }}
          {{ listCost }}
        </div>
        <div class="info-grid__season lg--hidden font-semibold pt-4 pb-2">{{ season1Title }}</div>
        <div class="info-grid__season lg--hidden font-semibold pt-4 pb-2">{{ season2Title }}</div>
        <div class="info-grid__season lg--hidden font-semibold pt-4 pb-2">{{ season3Title }}</div>
        <div class="info-grid__season">{{ emptyText }}</div>
        <div class="info-grid__season">{{ buttonText }}</div>
        <div class="info-grid__season">{{ buttonText }}</div>
      </div>
    </li>
    <li class="info-grid__item">
      <button class="info-grid__trigger">{{ listTrigger }}</button>
      <div class="info-grid__content">
        <span class="info-grid__number">1</span>
        <div class="info-grid__title">
          <a href="#" class="text-ubc-blue hover--text-unit-green underline block"> <h3 class="heading-five text-hug"> Project Initiation and Planning</h3></a>
          {{ listDetails }}
          {{ listCost }}
        </div>
        <div class="info-grid__season lg--hidden font-semibold pt-4 pb-2">{{ season1Title }}</div>
        <div class="info-grid__season lg--hidden font-semibold pt-4 pb-2">{{ season2Title }}</div>
        <div class="info-grid__season lg--hidden font-semibold pt-4 pb-2">{{ season3Title }}</div>
        <div class="info-grid__season">{{ emptyText }}</div>
        <div class="info-grid__season">{{ buttonText }}</div>
        <div class="info-grid__season">{{ emptyText }}</div>
      </div>
    </li>
  </ul>
</div>

<div class="pt-4 md--pt-0">
  <h4 class="heading-block heading-block--white-on-grey mt-8">{{ tertiaryTitle }}</h4>
  <ul><li>The following sequence is recommended</li></ul>
</div>

<div class="info-grid info-grid--list">
  <div class="info-grid__titles">
    <div class="info-grid__content uppercase text-sm">Title</div>
    <div class="info-grid__season">{{ season1Title }}</div>
    <div class="info-grid__season">{{ season2Title }}</div>
    <div class="info-grid__season">{{ season3Title }}</div>
  </div>
  <ul class="list-reset my-0 w-full">
    <li class="info-grid__item">
      <button class="info-grid__trigger">{{ listTrigger }}</button>
      <div class="info-grid__content">
        <span class="info-grid__number">1</span>
        <div class="info-grid__title">
          <a href="#" class="text-ubc-blue hover--text-unit-green underline block"> <h3 class="heading-five text-hug"> Project Initiation and Planning</h3></a>
          {{ listDetails }}
          {{ listCost }}
        </div>
        <div class="info-grid__season lg--hidden font-semibold pt-4 pb-2">{{ season1Title }}</div>
        <div class="info-grid__season lg--hidden font-semibold pt-4 pb-2">{{ season2Title }}</div>
        <div class="info-grid__season lg--hidden font-semibold pt-4 pb-2">{{ season3Title }}</div>
        <div class="info-grid__season">{{ emptyText }}</div>
        <div class="info-grid__season">{{ buttonText }}</div>
        <div class="info-grid__season">{{ emptyText }}</div>
      </div>
    </li>
    <li class="info-grid__item">
      <button class="info-grid__trigger">{{ listTrigger }}</button>
      <div class="info-grid__content">
        <span class="info-grid__number">1</span>
        <div class="info-grid__title">
          <a href="#" class="text-ubc-blue hover--text-unit-green underline block"> <h3 class="heading-five text-hug"> Project Initiation and Planning</h3></a>
          {{ listDetails }}
          {{ listCost }}
        </div>
        <div class="info-grid__season lg--hidden font-semibold pt-4 pb-2">{{ season1Title }}</div>
        <div class="info-grid__season lg--hidden font-semibold pt-4 pb-2">{{ season2Title }}</div>
        <div class="info-grid__season lg--hidden font-semibold pt-4 pb-2">{{ season3Title }}</div>
        <div class="info-grid__season">{{ emptyText }}</div>
        <div class="info-grid__season">{{ buttonText }}</div>
        <div class="info-grid__season">{{ buttonText }}</div>
      </div>
    </li>
    <li class="info-grid__item">
      <button class="info-grid__trigger">{{ listTrigger }}</button>
      <div class="info-grid__content">
        <span class="info-grid__number">1</span>
        <div class="info-grid__title">
          <a href="#" class="text-ubc-blue hover--text-unit-green underline block"> <h3 class="heading-five text-hug"> Project Initiation and Planning</h3></a>
          {{ listDetails }}
          {{ listCost }}
        </div>
        <div class="info-grid__season lg--hidden font-semibold pt-4 pb-2">{{ season1Title }}</div>
        <div class="info-grid__season lg--hidden font-semibold pt-4 pb-2">{{ season2Title }}</div>
        <div class="info-grid__season lg--hidden font-semibold pt-4 pb-2">{{ season3Title }}</div>
        <div class="info-grid__season">{{ emptyText }}</div>
        <div class="info-grid__season">{{ buttonText }}</div>
        <div class="info-grid__season">{{ emptyText }}</div>
      </div>
    </li>
  </ul>
</div>
 <p>Project Management curriculum may be subject to change</p>
