{% set card1Title = "Project Management" %}
{% set card2Title = "Business Analysis" %}
{% set card3Title = "Agile Leadership" %}
{% set card4Title = "Change Management" %}
{% set card5Title = "Exam and Test Preps" %}
{% set card1Image = "img/feature-images/1.jpg" %}
{% set card2Image = "img/feature-images/2.jpg" %}
{% set card3Image = "img/feature-images/3.jpg" %}
{% set card4Image = "img/feature-images/4.jpg" %}
{% set card5Image = "img/feature-images/5.jpg" %}
{% set card1Text = "Offered in a part-time blended format, this will&hellip;" %}
{% set card2Text = "Offered in a part-time online format, this program will build you skills in&hellip;" %}
{% set card3Text = "Offered in a part-time face-to-face format, this program will&hellip;" %}
{% set card4Text = "Offered in a part-time blended format, this program will&hellip;" %}
{% set card5Text = "Offering University test prep course in GMAT, GRE, LSAT &amp; MCaT as well as industry professional exam preps in PMP, CFA and CSM." %}
{% set linkText = "Learn More" %}



<div class="sm--flex sm--flex-wrap -mx-4">

  <a class="card--default p-4 sm--w-half md--w-one-third" href="#">
    <div class="card__image">
      <img alt="" title="" src="{{ card1Image }}" />
    </div>
    <h3 class="card__heading heading-five">{{ card1Title }}</h3>
    <div class="card__content">
      <p>{{ card1Text }}</p>
    </div>
    <div class="card__footer">
      <button class="unit-button unit-button--blue text-sm">{{ linkText }}</button>
    </div>
  </a>

  <a class="card--default p-4 sm--w-half md--w-one-third" href="#">
    <div class="card__image">
      <img alt="" title="" src="{{ card2Image }}" />
    </div>
    <h3 class="card__heading heading-five">{{ card2Title }}</h3>
    <div class="card__content">
      <p>{{ card2Text }}</p>
    </div>
    <div class="card__footer">
      <button class="unit-button unit-button--blue text-sm">{{ linkText }}</button>
    </div>
  </a>

  <a class="card--default p-4 sm--w-half md--w-one-third" href="#">
    <div class="card__image">
      <img alt="" title="" src="{{ card3Image }}" />
    </div>
    <h3 class="card__heading heading-five">{{ card3Title }}</h3>
    <div class="card__content">
      <p>{{ card3Text }}</p>
    </div>
    <div class="card__footer">
      <button class="unit-button unit-button--blue text-sm">{{ linkText }}</button>
    </div>
  </a>

  <a class="card--default p-4 sm--w-half md--w-one-third" href="#">
    <div class="card__image">
      <img alt="" title="" src="{{ card4Image }}" />
    </div>
    <h3 class="card__heading heading-five">{{ card4Title }}</h3>
    <div class="card__content">
      <p>{{ card4Text }}</p>
    </div>
    <div class="card__footer">
      <button class="unit-button unit-button--blue text-sm">{{ linkText }}</button>
    </div>
  </a>

   <a class="card--default p-4 sm--w-half md--w-one-third" href="#">
    <div class="card__image">
      <img alt="" title="" src="{{ card5Image }}" />
    </div>
    <h3 class="card__heading heading-five">{{ card5Title }}</h3>
    <div class="card__content">
      <p>{{ card5Text }}</p>
    </div>
    <div class="card__footer">
      <button class="unit-button unit-button--blue text-sm">{{ linkText }}</button>
    </div>
  </a>

</div>
