{% set locationTitle = '<svg role="presentation" class="inline-block h-6 w-6 text-ubc-blue"><use xlink:href="#icon-location"/></svg> Location' %}
{% set locationContent = '<p><strong>All courses are held online and facilitated by an online instructor.</strong></p>' %}
{% set durationTitle = '<svg role="presentation" class="inline-block h-6 w-6 text-ubc-blue"><use xlink:href="#icon-duration"/></svg> Duration' %}
{% set durationContent = '<p><strong>Regular Program:</strong> <br/>consists of six courses, ranging from six to eight weeks in duration. Regular program students are able to complete the program in nine and a half months.</p><p><strong>Core Program:</strong> <br/>consists of two bundles of two to three courses and a capstone course. All bundled courses are four weeks in length and the capstone course is eight weeks. Students are able to complete the program in eight months.</p><p class="font-semibold">For either program, all courses must be completed within two years.</p>' %}
{% set scheduleTitle = '<svg role="presentation" class="inline-block h-6 w-6 text-ubc-blue"><use xlink:href="#icon-schedule"/></svg> Schedule' %}
{% set scheduleContent = '<p><strong>Regular and Fast Track Program:</strong> <br/>Courses are offered throughout the year with a specific start and end date.</p><p><strong>Learning is self-paced. Some courses may include assignments that require login at a specific time.</strong></p>' %}
{% set tuitionTitle = '<svg role="presentation" class="inline-block h-6 w-6 text-ubc-blue"><use xlink:href="#icon-program-cost"></use></svg> Tuition &amp; Fees' %}
{% set tuitionContent = '<p><strong>Program Declaration Fee:</strong><br />$1,250 to $2,000.</p>
<p><strong>Regular Program Course Fees:</strong><br />From $1,250 to $2,000.</p>
<p><strong>Fast-Track Program Course Bundle Fees:</strong><br />From $2,000 to $3,375.</p>
<p><strong>Regular Program Total Tuition*:</strong><br />$8,450.</p>
<p><strong>Fast-Track Progam Total Tuition*:</strong><br />$7,825.</p>
<p class="text-sm">* Tuition is comprised of the cumulative cost of individual courses or bundles as well as the program declaration fee</p>' %}
{% set hoursTitle = '<svg role="presentation" class="inline-block h-6 w-6 text-ubc-blue"><use xlink:href="#icon-hours-of-study"/></svg> Hours of Study' %}
{% set hoursContent = '<p><strong>Regular Program: </strong><br />Six to ten hours per week for each course.</p>
<p><strong>Fast-Track Program: </strong><br />10 – 15 hours per week for each coure.</p>' %}

<div class="info-grid">
  <div class="info-grid__first">
    <div class="md--flex md--h-full">
      <h3 class="heading-four mt-0 self-center">{{ locationTitle }}</h3>
    </div>
  </div>
  <div class="info-grid__second">
    {{ locationContent }}
  </div>
  <div class="info-grid__first">
    <div class="md--flex md--h-full">
      <h3 class="heading-four mt-0 self-center">{{ durationTitle }}</h3>
    </div>
  </div>
  <div class="info-grid__second">
    {{ durationContent }}
  </div>
  <div class="info-grid__first">
    <div class="md--flex md--h-full">
      <h3 class="heading-four mt-0 self-center">{{ scheduleTitle }}</h3>
    </div>
  </div>
  <div class="info-grid__second">
    {{ scheduleContent }}
  </div>
  <div class="info-grid__first">
    <div class="md--flex md--h-full">
      <h3 class="heading-four mt-0 self-center">{{ tuitionTitle }}</h3>
    </div>
  </div>
  <div class="info-grid__second">
    {{ tuitionContent }}
  </div>
  <div class="info-grid__first">
    <div class="md--flex md--h-full">
      <h3 class="heading-four mt-0 self-center">{{ hoursTitle }}</h3>
    </div>
  </div>
  <div class="info-grid__second">
    {{ hoursContent }}
  </div>
</div>
 <p><a href="#" class="unit-button unit-button--blue text-sm unit-button--block md--w-auto md--inline-block">Register Now</a></p>
