{# CONFIG #}
{% set unitName = "Unit" %}
{% set siteURL = "unit.ubc.ca" %}
{% set facultyName = "" %}
{% set campus = 'vancouver' %}
{% set slideshow = FALSE %}
{% set clfversion = 7 %}
{% set clf_sticky = TRUE %}
{% set colorPrimary = "#cc3d3d" %}
{% set colorSecondary = "#e0e0e0" %}
{% set colorAccent = "#003a79" %}
{% set leading = "1.625" %}
{% set baseFontSize = "1rem" %}

{% set loremIpsum = '<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis <a href="#">nostrud exercitation ullamco</a> laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. <a href="#">Excepteur sint occaecat</a> cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>

<p>Nostrud <strong>exercitation ullamco</strong> laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>' %}

<!doctype html>
<html class="overflow-x-hidden no-js" lang="en">

<head>
	<meta charset="UTF-8">
	<title>{{ title }} | {{ unitName }}</title>
	{% include "../includes/head.twig" %}
	{% block custom_css %}{% endblock %}
	<style>
	 :root {
        --color-primary: {{ colorPrimary }};
        --color-secondary: {{ colorSecondary }};
        --color-accent: {{ colorAccent }};
        --leading: {{ leading }};
        --base-font-size: {{ baseFontSize }};
      }
      #ubc7-unit { background-color: var(--color-primary); }
	</style>
</head>

<body class="layout--full-width">
	<div id="main-content">
		{% if clfversion == 7 %}
			{% include "../includes/header--clf7.twig" %}
		{% else %}
			{% include "../includes/header.twig" %}
		{% endif %}
		{% block content %}{% endblock %}
		<footer>
			{% if clfversion == 7 %}
				{% include "../includes/footer--unit.twig" %}
				{% include "../includes/footer--clf7.twig" %}
			{% else %}
				{% include "../includes/footer--unit.twig" %}
				{% include "../includes/footer.twig" %}
			{% endif %}
		</footer>
		<div id="totop-mask"></div>
		<button id="totop" v-scroll-to="{ el: 'body'}">to top</button>
	</div>
	{% include "../includes/svg.twig" %}
	{% include "../includes/scripts.twig" %}
	{% block custom_javascript %}{% endblock %}
</body>

</html>
